<section class="about-card">

<div class="about-card__card">
  <!-- <Icons name="exp" width="17" height="20" class="about-card__icon" /> -->
  <img class="about-card__icon" src="assets/img/about/exp.svg">
  <div class="about-card__info">
    <span class="about-card__subtitle">Years experience</span>
    <span class="about-card__count">{{ experience }}</span>
  </div>
</div>
<div class="about-card__card">
  <!-- <Icons name="proj" width="20" height="20" class="about-card__icon" /> -->
  <img class="about-card__icon" src="assets/img/about/projects.svg">
  <div class="about-card__info">
    <span class="about-card__subtitle">Completed projects</span>
    <span class="about-card__count">20</span>
  </div>
</div>
<div class="about-card__card">
  <!-- <Icons name="companies" width="20" height="19" class="about-card__icon" /> -->
  <img class="about-card__icon" src="assets/img/about/work.svg">
  <div class="about-card__info">
    <span class="about-card__subtitle">Companies worked</span>
    <span class="about-card__count">{{ countWorked }}</span>
  </div>
</div>
</section>
