<main class="portfolio">
  <div class="portfolio__wrapper">
    <h1 class="portfolio__title">Portfolio</h1>
    <div class="portfolio__slider">
      <img
      class="portfolio__slider-img"
      src="../../../../../assets/img/portfolio/PizzaLanding.png"
      >
      <div class="portfolio__slider-block">
        <h2 class="portfolio__slider-title">Pizza Landing</h2>
        <p class="portfolio__slider-description">Мой первый самостоятельный проект на Angular, дизайн взял с Figma</p>
        <button class="portfolio__slider-btn">
          <a target="_blank" href="https://ikupreev.github.io/pizza_landing/home">DEMO</a>
        </button>
      </div>
    </div>
  </div>
</main>
