@import "../../../../../variables.scss";

.portfolio {

  border-bottom: 1px solid $border-line;
  border-right: 1px solid $border-line;
  padding: 28px 115px 41px;
  min-height: calc(100vh - 76px);
  height: 100%;

  // .portfolio__wrapper

  &__wrapper {
    height: 100%;
    text-align: center;
  }

  // .portfolio__title

  &__title {
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 4.8rem;
    color: $heading-text;
  }

  // .portfolio__slider

  &__slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 23px;
  }

  &__slider-img {
    width: 580px;
    padding-right: 50px;
  }
  // .portfolio__slider-title

  &__slider-title {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 4.8rem;
    color: $heading-text;
  }

  // .portfolio__slider-description

  &__slider-description {
    margin-top: 19px;
    width: 298px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.1rem;
  }


  &__slider-btn {
    margin-top: 40px;
    width: 127px;
    height: 44px;
    border-radius: 50px;
    border: 2px solid $title-text;
    background-color: transparent;
    color: $title-text;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

@media(max-width: 1150px)  {
  .portfolio {

    &__slider-img {
      width: 450px;
      padding-right: 0px;
    }
  }
}

@media(max-width: 900px)  {
  .portfolio {

    &__slider {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 13px;
    }

    &__slider-img {
      width: 400px;
      padding-right: 0px;
    }
  }
}

@media(max-width: 650px)  {
  .portfolio {

    padding: 80px 115px 41px;
    min-height: calc(100vh - 76px);
    height: 100%;

    // .portfolio__wrapper

    &__wrapper {
      height: 100%;
      text-align: center;
    }

    // .portfolio__title

    &__title {
      font-weight: 600;
      font-size: $mobile-title-font-size;
      line-height: 4.8rem;
      color: $heading-text;
    }

    // .portfolio__slider

    &__slider {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 13px;
    }

    &__slider-img {
      width: 400px;
      padding-right: 0px;
    }
    // .portfolio__slider-title

  }
}

@media(max-width: 520px)  {
  .portfolio {

    padding: 80px 115px 41px;
    min-height: calc(100vh - 76px);
    height: 100%;

    // .portfolio__wrapper

    &__wrapper {
      height: 100%;
      text-align: center;
    }

    // .portfolio__title

    &__title {
      font-weight: 600;
      font-size: $mobile-title-font-size;
      line-height: 4.8rem;
      color: $heading-text;
    }

    // .portfolio__slider

    &__slider {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 13px;
    }

    &__slider-img {
      width: 300px;
      padding-right: 0px;
    }
    // .portfolio__slider-title

  }

}
