<main class="portfolio">
  <div class="portfolio__wrapper">
    <h1 class="portfolio__title">Portfolio</h1>
    <div class="portfolio__slider">
      <a target="_blank" href="https://ikupreev.github.io/pizza_landing/home">
        <img
        class="portfolio__slider-img"
        src="../../../../../assets/img/portfolio/PizzaLanding.png"
        >
      </a>

      <div class="portfolio__slider-block">
        <h2 class="portfolio__slider-title">Pizza Landing</h2>
        <p class="portfolio__slider-description">Мой первый самостоятельный проект на Angular, дизайн взял с Figma</p>
        <a target="_blank" href="https://ikupreev.github.io/pizza_landing/home">
          <button class="portfolio__slider-btn">DEMO</button>
        </a>
      </div>
    </div>
  </div>
</main>
