<section class="about-me">
  <div class="wrapper about-me__wrapper">
    <div class="about-me__photo">
      <img
        class="about-me__avatar"
        src="../../../../assets/img/sideBar/photo.jpg"
        alt="avatar"
      />
    </div>
    <div class="about-me__name-job">
      <h1 class="about-me__name">Igor Kupreev</h1>
      <span class="about-me__job">Frontend Developer</span>
    </div>

    <p class="about-me__description">
      Владею навыками в области разработки  веб приложений, постоянно совершенствуя их.
    </p>
    <!-- <p class="about-me__description">
      I have skills in the field of web application development, constantly improving them.
    </p> -->
    <!-- <SocialLinksBlock /> -->
    <button class="about-me__contact-me-btn">Contact Me</button>
  </div>
</section>
