@import "../variables.scss";


  .container {
      display: flex;
      //width: 100%;
      overflow: auto;
      height: 100vh;
  }

  .mobile {
      display: none;

  }


  // .App__side-bar

  .side-bar {
      transition: 0.15s ease-in;
      width: 270px;
      flex: 0 0 270px;
  }

  // .App__About

  .main {
      //min-height: 100%;
      flex: 1 1 auto;
      width: 100%;
      overflow: hidden;
  }

  @media(max-width: 800px)  {


    .side-bar {
      transform: translate(-230px);
      margin-left: -270px;
      //order: 1;
      &:not(.is-mobile) {
        transform: translate(230px);
        background-color: rgba(255, 255, 255, .15);
        backdrop-filter: blur(5px);
       // margin-left: 0px;
      }
    }


    .mobile {
      cursor: pointer;
      transition: 0.5s ease-in ;
      margin: 2px 2px;
      height: 22px;
      display: block;
      background-color: transparent;
      border: none;
      position: fixed;
      right: 10px;
      top: 80px;
      order: 2;

    &__icon {
      position: relative;
      display: block;
      background-color: $heading-text;
      border: none;
      width: 17px;
      height: 3px;

    }

    &__icon::before {
      position: absolute;
      border: none;
      left: 0;
      top: 7px;
      content: "";
      display: block;
      width: 17px;
      height: 3px;
      background-color: $heading-text;
    }
    &__icon::after {
      position: absolute;
      border: none;
      left: 0;
      bottom: 7px;
      content: "";
      display: block;
      width: 17px;
      height: 3px;
      background-color: $heading-text;
    }
    }

  }



