<header class="header">
  <div class="wrapper header__wrapper">
    <a routerLink="" class="header__logo-block">
      <span>Igor Kupreev</span></a>
    <div class="header__nav-block">
      <nav class="header__main-nav">
        <a routerLink="" class="header__link">
          ABOUT</a>

        <a routerLink="/skills" class="header__link">
          SKILLS </a>

        <a class="header__link" routerLink="/portfolio">
          PORTFOLIO</a>

      </nav>
      <div class="header__night-switcher">
        <button class="header__night-switcher-btn"></button>
      </div>
    </div>
  </div>
</header>
