<section class="about">
  <div class="about__wrapper">
    <section class="about__topBlock">
      <h1 class="about__title">About</h1>
      <p class="about__description">
        Web developer, with extensive knowledge and years of experience, working in web
        technologies and UI/UX design, delivering quality work.
      </p>
      <section *ngIf="countWorked$ | async as work">
        <app-about-card
          [experience]="experience$ | async"
          [countWorked]="work"
        ></app-about-card>
        <!-- <AboutCards countWorked={countWorked} minData={minData} maxData={maxData} /> -->
      </section>
    </section>
    <section class="about__bottomBlock">
      <div class="about__body">
        <h1 class="about__title">Qualification</h1>
        <span class="about__label">My personal journey</span>
      </div>
      <div class="about__tabs">
        <button
          (click)="setActiveTab(true)"
          [ngClass]="firstTab === true ? 'about__btn-educat active' : 'about__btn-educat'"
        >Education
        </button>
        <button
          (click)="setActiveTab(false)"
          [ngClass]="firstTab === false ? 'about__btn-work active' : 'about__btn-work'"
        >Work
        </button>
        <!-- <button
          onClick={() => SetActiveTab(0)}
          class={activeTab === 0 ? 'about__btn-educat active' : 'about__btn-educat'}
        >
          <Icons
            name="educations"
            width="26"
            height="19"
            color={activeTab === 0 ? '#5671A6' : ''}
            class="about__btn-icon"
          />
          <span>Education</span>
        </button>
        <button
          onClick={() => SetActiveTab(1)}
          class={activeTab === 1 ? 'about__btn-work active' : 'about__btn-work'}
        >
          <Icons
            name="work"
            width="26"
            height="19"
            color={activeTab === 1 ? '#5671A6' : ''}
            class="about__btn-icon"
          />
          <span>Work</span>
        </button> -->
      </div>
      <div class="line"></div>
      <section
        class="about__qualification-cards"
        *ngIf="firstTab === true"
      >
        <app-qualification-card
          class="about__item"
          *ngFor="let card of educations$ | async"
          [card]="card"
          ></app-qualification-card>
      </section>
      <section
      class="about__qualification-cards"
      *ngIf="firstTab === false"
    >
      <app-qualification-card
        class="about__item"
        *ngFor="let card of work$ | async"
        [card]="card"
        ></app-qualification-card>
    </section>
      <!-- <section class="about__qualification-cards">
        {isLoading
          ? [...new Array(4)].map((_, index) => <Skeleton key={index} />)
          : activeTab === 0
          ? educationItems.map((obj) => <QualificationCards key={obj.id} {...obj} />)
          : workItems.map((obj) => <QualificationCards key={obj.id} {...obj} />)}
      </section> -->
    </section>
  </div>
</section>
