@import "../../../../../variables.scss";

.skills {
  border-bottom: 1px solid $border-line;
  border-right: 1px solid $border-line;
  padding: 28px 115px 41px;
  min-height: calc(100vh - 76px);
  height: 100%;


  &__wrapper {

      height: 100%;
      text-align: center;
  }

  &__title {
      font-weight: 600;
      font-size: 3.2rem;
      line-height: 4.8rem;
      color: $heading-text;
  }

  &__subtitle {
      margin-top: 13px;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 2.1rem;
      color: $info-text;
  }

  &__container {
      margin-top: 31px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      //height: 100%;
  }
  &__oneBlock {

  }

  &__block-title {
      text-align: left;
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: $heading-text;
  }

  &__experience {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin: 32px 0;

  }

  &__experience-block {
    margin-top: 20px;
  }

}

@media(max-width: 650px)  {
  .skills {
    padding: 80px 13px 41px;
  }
}

@media(max-width: 520px)  {
  .skills {

    padding: 80px 13px 41px;
    height: 100%;

    &__wrapper {
        text-align: center;
    }

    &__title {
        font-weight: 600;
        font-size: $mobile-title-font-size;
        line-height: 4.8rem;
        color: $heading-text;
    }

    &__subtitle {
        margin-top: 3px;
    }

    &__container {
        margin-top: 3px;

    }

    &__experience {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 32px 0;
    }

    &__experience-block {
      margin-top: 20px;
    }
  }
}
