<main class="skills">
  <div class="skills__wrapper">
    <h1 class="skills__title">Skills</h1>
    <h1 class="skills__subtitle">My technical level</h1>
    <div class="skills__container">
      <section class="skills__block">
        <div class="line"></div>
        <h2 class="skills__block-title">Frontend Developer</h2>
        <div class="skills__experience">
          <app-Expirience-Block
            class="skills__experience-block"
            *ngFor="let skill of frontData$ | async"
            [skills]="skill"
          ></app-Expirience-Block>

        </div>
      </section>
      <section class="skills__block">
        <div class="line"></div>
        <h1 class="skills__block-title">Designer</h1>
        <div class="skills__experience">
          <app-Expirience-Block
            class="skills__experience-block"
            *ngFor="let skill of designData$ | async"
            [skills]="skill"
          ></app-Expirience-Block>
        </div>
      </section>
    </div>
  </div>
</main>
