$background: #b0c3c9;
$border-line: #6D8093;
$border-line-card: #DBDBDB;

$title-text: #5671A6;
$info-text: #616161;
$heading-text: #383838;

$mobile-title-font-size: 2.5rem;
$mobile-title-line-height: 2.4rem;

$mobile-nav-font-size: 1.2rem;
